# .env
# Server Configuration
WUZAPI_PORT=8080
WUZAPI_ADDRESS=0.0.0.0

# Media Storage Configuration
WUZAPI_MEDIA_DIR=./media
WUZAPI_MEDIA_URL=/media

# Global webhook URL
WUZAPI_GLOBAL_WEBHOOK=https://example.com/webhook

# "json" or "form" for the default
WEBHOOK_FORMAT=json

# WuzAPI Session Configuration
SESSION_DEVICE_NAME=WuzAPI

# Timezone
TZ=America/Sao_Paulo
